@model FuncaoSistemas_FM.Models.ClienteModel

@{
    ViewBag.Title = "Alterar Cliente";
    ViewBag.Alterar = true;
}

<h2>@Html.Raw(ViewBag.Title)</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCadastro" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger", id = "erro_form" })
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("Forms");
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/CliAlt");
}
